# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Ambiente
.env
.env.*          # qualquer variação de arquivo .env

# Diretórios de dependência
node_modules/

# Build
dist/
dist-ssr/
.vite/           # cache do Vite

# Arquivos locais
*.local

# Pastas de editor/IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Outros
coverage/        # caso use testes no futuro
